body{
    background: #1E1E1E;
}

header{
    background: #252526;
}

nav{
    border-radius: 10%;
}

.logo{
    width: 8%;
}

.container{
    display: none;
    justify-content: space-evenly;
}

.form-img{
    width: 85vh;
    height: 70vh;
    margin-top: 1.75%;
}

.form-title{
    color: #C4C4C4;
}

.movie-form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 3%;
    gap: 10px;
    width: 30%;
}

.logo-name{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #FF463C;
    font-size: 200%;
    margin-top: 5px;
    margin-left: 10px;
}

.navItem1{
    margin-left: 20px;
}

.navItem2{
    margin-left: 10px;
    color: white;
}

.banner{
    width: 100%;
}

#movieSection{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    color: #C4C4C4;
}

.card{
    background-color: #2D2D2D;
}

.card-title1{
    font-family: 'Be Vietnam Pro', sans-serif;
}


.list-group-item{
    background-color: #3C3C3C;
    color: #C4C4C4;
}

.card-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-bottom: 3%;
}

footer{
    background: #37373D;
    color: azure;
}

.copi{
    color: #C4C4C4;
}

@media screen and (max-width: 487px) {
    .logo {
        width: 15%; 
        }
    .form-img{
        display: none;
    }
    .navItem1{
    
    }
    
    .navItem2{
    color: white;
    }
    .movie-form{
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        gap: 10px;
    }
    }

@media screen and (min-width: 487px) and (max-width: 990px) {
    .logo {
        width: 10%;
    }
    .form-img{
        display: none;
    }
    .navItem1{
        
    }
    
    .navItem2{
        color: white;
    }
    .movie-form{
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        gap: 10px;
    }
}

@media screen and (min-width: 991px) {
    .logo {
        width: 6%;;
    }
}
